<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>关于</title>
<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet"> 
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet"> 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->       
<link rel="shortcut icon" href="images/ico/favicon.ico"> 
</head> 

<body id="home">
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="images/logo5.png" alt="logo"></a>
			</div>
			
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="scroll active"><a href="index.html">首页</a></li>  
					<li class="scroll"><a href="classes.html">分类</a></li>
					<li class="scroll"><a href="about.html">关于</a></li> 
					<li class="scroll"><a href="gallery.html">展览</a></li>
					<li class="scroll"><a href="contact.html">联系我们</a></li>                        
				</ul>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->

<!--/#services-->


<section id="about">
	<div class="container">

		<div class="section-header">
			<h2 class="section-title wow fadeInDown">关于我们</h2>
			<p class="wow fadeInDown">.ZT健身创建于2019年，累计发展会员人数200万，每年新增约80万会员，每天约30万会员在全国各分店享受专业健身服务。</p>

		</div>

		<div class="row">
			<div class="col-sm-6 wow fadeInLeft">
			  <img class="img-responsive" src="images/about.png" alt="">
			</div>

			<div class="col-sm-6 wow fadeInRight">
				<h3 class="column-title">我们的健身工作室</h3>
				<p>.ZT身连锁:全国连锁专业健身会所，内有会员休息区、瑜伽教室、操房、有氧及无氧器械区、泳池、淋浴区等配套设施。</p>
			<p>金小鸟健身连锁：ZT旗下品牌，全国连锁小型平价自助健身房</p>。
			<p>.酷小鸟健身连锁：ZT旗下品牌，全国连锁专业私教健身房。
			<p>.金吉鸟健身培训基地：由ZT打造的健身培训基地。</p>

</p>
<ul class="listarrow">
<li><i class="fa fa-angle-double-right"></i>有氧</i>
<li><i class="fa fa-angle-double-right"></i>心搏</i>
<li><i class="fa fa-angle-double-right"></i>腹部</i>
<li><i class="fa fa-angle-double-right"></i>无氧</i>
<li><i class="fa fa-angle-double-right"></i>形体</i>
</ul>


			</div>
		</div>
	</div>
</section><!--/#about-->
<!--/#pricing-->



<section id="business-stats">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">我们的能力</h2>
			<p class="wow fadeInDown"> 凡事有其自然，遇事处之泰然，自得之时淡然，失意之时坦然。 <br> 放弃可以找到一万个理由，坚持只需一个信念！</p>
		</div>

		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
					<div class="business-stats" data-digit="6850" data-duration="1000"></div>
					<strong>俱乐部会员</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
					<div class="business-stats" data-digit="1465" data-duration="1000"></div>
					<strong>健身教练</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
					<div class="business-stats" data-digit="4325" data-duration="1000"></div>
					<strong>健身课程</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
					<div class="business-stats" data-digit="2568" data-duration="1000"></div>
					<strong>健身成功者</strong>
				</div>
			</div>
		</div>
	</div>
</section><!--/#business-stats-->


<div class="w1">
		
	</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/mousescroll.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom-scripts.js"></script>
</body>
</html>