<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>分类</title>
<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet"> 
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet"> 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->       
<link rel="shortcut icon" href="images/ico/favicon.ico"> 
</head> 

<body id="home">
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="images/logo5.png" alt="logo"></a>
			</div>
			
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="scroll active"><a href="index.html">首页</a></li>  
					<li class="scroll"><a href="classes.html">分类</a></li>
					<li class="scroll"><a href="about.html">关于</a></li> 
					<li class="scroll"><a href="gallery.html">展览</a></li>
					<li class="scroll"><a href="contact.html">联系我们</a></li>                        
				</ul>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->

<!--/#main-slider-->

<section id="services" >
	<div class="container">

		<div class="section-header">
			<h2 class="section-title wow fadeInDown">项目的分类</h2>
			<p class="wow fadeInDown">放弃比坚持还要困难，放弃一定会被摔死，坚持才有爬上去的可能！这就是人生！选择了就要坚持！</p>
		</div>

		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-futbol-o"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">有氧运动</h4>
							<p>有氧运动是指人体在氧气充分供应的情况下进行的体育锻炼如果体重超标，建议选择有氧运动，像慢跑、骑自行车</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-compass"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">心搏</h4>
							<p>心搏频率　　简称“心率”。每分钟心脏跳动的次数。正常时同脉搏一致。成年人安静时平均为70~75次/分</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-database"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">无氧运动</h4>
							<p>我们从事的运动非常剧烈，或者是急速爆发，例如举重、百米冲刺、摔跤等，此时机体在瞬间需要大量的能量</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
			
				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-bar-chart"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">形体</h4>
							<p>形体训练是一项比较优美、高雅的健身项目，主要通过舒展优美的舞蹈基础练习，古典舞、身韵、民间舞蹈训练</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-paper-plane-o"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">健康饮食</h4>
							<p>良好健康饮食是保健的一个重要方面，可使身体健康地生长、发育；不良的饮食习惯则会导致生理功能紊乱</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-bullseye"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">增肌</h4>
							<p>想要变得更强壮一定要多吃多休息每餐都要摄入来自不同食物的蛋白质。早餐吃鸡蛋，午餐吃肉类，晚餐吃禽类！</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
			</div>
		</div><!--/.row-->    
	</div><!--/.container-->
</section><!--/#services-->


<!--/#pricing-->



<section id="business-stats">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">我们的能力</h2>
			<p class="wow fadeInDown"> 凡事有其自然，遇事处之泰然，自得之时淡然，失意之时坦然。 <br> 放弃可以找到一万个理由，坚持只需一个信念！</p>
		</div>

		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
					<div class="business-stats" data-digit="6850" data-duration="1000"></div>
					<strong>俱乐部会员</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
					<div class="business-stats" data-digit="1465" data-duration="1000"></div>
					<strong>健身教练</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
					<div class="business-stats" data-digit="4325" data-duration="1000"></div>
					<strong>健身课程</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
					<div class="business-stats" data-digit="2568" data-duration="1000"></div>
					<strong>健身成功者</strong>
				</div>
			</div>
		</div>
	</div>
</section><!--/#business-stats-->

<div class="w1">
		
	</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/mousescroll.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom-scripts.js"></script>
</body>
</html>