<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>展览</title>
<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet"> 
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet"> 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->       
<link rel="shortcut icon" href="images/ico/favicon.ico"> 
</head> 
<style>
	
</style>
<body id="home">
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="images/logo5.png" alt="logo"></a>
			</div>
			
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="scroll active"><a href="index.html">首页</a></li>  
					<li class="scroll"><a href="classes.html">分类</a></li>
					<li class="scroll"><a href="about.html">关于</a></li> 
					<li class="scroll"><a href="gallery.html">展览</a></li>
					<li class="scroll"><a href="contact.html">联系我们</a></li>                             
				</ul>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->

<!--/#our-team-->

<section id="portfolio">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">健身展览照</h2>
			<p class="wow fadeInDown">运动是生命的滋润剂，健身是青春的美容师。 </p>
		</div>

		<div class="text-center">
			<ul class="portfolio-filter" style="display:none">
				<li><a class="active" href="#" data-filter="*">All Works</a></li>
				<li><a href="#" data-filter=".designing">Designing</a></li>
				<li><a href="#" data-filter=".mobile">Mobile App</a></li>
				<li><a href="#" data-filter=".development">Development</a></li>
			</ul><!--/#portfolio-filter-->
		</div>

		<div class="portfolio-items">
			<div class="portfolio-item designing">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/01.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item mobile development">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/02.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item designing">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/03.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item mobile">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/04.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item designing development">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/05.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item mobile">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/06.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item designing development">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/07.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->

			<div class="portfolio-item mobile">
				<div class="portfolio-item-inner">
					<img class="img-responsive" src="images/portfolio/08.jpg" alt="">
					<div class="portfolio-info"> 
						<a class="preview" href="images/portfolio/08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div><!--/.portfolio-item-->
		</div>
	</div><!--/.container-->
</section><!--/#portfolio-->

<!--/#pricing-->



<section id="business-stats">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">我们的能力</h2>
			<p class="wow fadeInDown"> 凡事有其自然，遇事处之泰然，自得之时淡然，失意之时坦然。 <br> 放弃可以找到一万个理由，坚持只需一个信念！</p>
		</div>

		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
					<div class="business-stats" data-digit="6850" data-duration="1000"></div>
					<strong>俱乐部会员</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
					<div class="business-stats" data-digit="1465" data-duration="1000"></div>
					<strong>健身教练</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
					<div class="business-stats" data-digit="4325" data-duration="1000"></div>
					<strong>健身课程</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
					<div class="business-stats" data-digit="2568" data-duration="1000"></div>
					<strong>健身成功者</strong>
				</div>
			</div>
		</div>
	</div>
	
</section><!--/#business-stats-->
<div class="w1">
		
	</div>



<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/mousescroll.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom-scripts.js"></script>
</body>
</html>