<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>首页</title>
<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet"> 
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet"> 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->       
<link rel="shortcut icon" href="images/ico/favicon.ico"> 
</head> 

<body id="home">
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="images/logo5.png" alt="logo"></a>
			</div>
			
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="scroll active"><a href="index.html">首页</a></li>  
					<li class="scroll"><a href="classes.html">分类</a></li>
					<li class="scroll"><a href="about.html">关于</a></li> 
					<li class="scroll"><a href="gallery.html">展览</a></li>
					<li class="scroll"><a href="contact.html">联系我们</a></li>                        
				</ul>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->

<section id="hero-banner">
		 <div class="banner-inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							 
								<h2>ZT的健身俱乐部 <b></b></h2>
								<p>“想着要赢得比赛不会给你力量，在锻炼中挣扎力量才会增长，当你克服困难不想放弃时。 <br/> 这就是力量。”阿诺德·施瓦辛格注释：力量也等于他妈的大重量硬拉。</p>
								<a class="btn btn-primary btn-lg" href="#">爱拼才会赢</a>
							
						</div>
					</div>
				</div>
			</div>
</section>
	
<!--/#main-slider-->

<!--/#pricing-->



<section id="business-stats">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">我们的能力</h2>
			<p class="wow fadeInDown"> 凡事有其自然，遇事处之泰然，自得之时淡然，失意之时坦然。 <br> 放弃可以找到一万个理由，坚持只需一个信念！</p>
		</div>

		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
					<div class="business-stats" data-digit="6850" data-duration="1000"></div>
					<strong>俱乐部会员</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
					<div class="business-stats" data-digit="1465" data-duration="1000"></div>
					<strong>健身教练</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
					<div class="business-stats" data-digit="4325" data-duration="1000"></div>
					<strong>健身课程</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
					<div class="business-stats" data-digit="2568" data-duration="1000"></div>
					<strong>健身成功者</strong>
				</div>
			</div>
		</div>
	</div>
</section><!--/#business-stats-->


<section class="testimonial-area" id="testimonial">
		<div class="container">
			<div class="section-header">
			<h2 class="section-title wow fadeInDown">荣誉证书</h2>
			<p class="wow fadeInDown"> 梦想、绝对是血钻石！ <br> 只有从眼泪和血汗中诞生</p>
		</div>
			<div class="row">
				<div class="col-md-4">
					<div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
						<div class="row">
							<div class="col-xs-12">
								<blockquote>国家二级运动员  、 国家一级健身指导员<br />
									 		亚洲体适能高级教练、跆拳道黑带一段<br />
									 		U17全国耐克杯冠军、国家健身健美比赛第四名<br />
									 		江苏省健身比赛冠军、南京市健身比赛冠军<br />
								</blockquote>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<img src="images/111.jpg" alt="client">
							</div>
							<div class="col-xs-9 half-gutter">
								<h5>田亮</h5>
								<h6>宣言:直视恐惧，忍受痛苦，<br>他们将被编写成自豪和梦想</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
						<div class="row">
							<div class="col-xs-12">
								<blockquote> 金吉鸟健身学院普拉提极致系列培训导师
									                 亚太瑜伽协会高级教练资格认证<br/>
									                国家职业资格认证、瑜伽理疗导师资格认证<br/>
									         2015、2017CPSC中国普拉提运动科学大会<br />        
									         
								</blockquote>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<img src="images/222.jpg" alt="client">
							</div>
							<div class="col-xs-9 half-gutter">
								<h5>韩雪</h5>
								<h6>健康是饮食加锻炼共同的</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
						<div class="row">
							<div class="col-xs-12">
								<blockquote>
									国家二级社会指导员<br/>
									2007年亚洲体适能认证教练<br/>
									2012年MFT泰拳认证教练<br/>
									013年李欣百万私教培训优秀学员<br/>
								</blockquote>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<img src="images/333.jpg" alt="client">
							</div>
							<div class="col-xs-9 half-gutter">
								<h5>金德勇</h5>
								<h6>男人就该练</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<div id="bottom">
	<div class="wrap">
		<zt的健身俱乐部></zt的健身俱乐部>
	</div>
</div>
<!--/#bottom-->

<!--/#footer-->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/mousescroll.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom-scripts.js"></script>
</body>
</html>